<div class="container">
  <div class="row">
    <div class="col-xs-12">
      
      <app-success-alert *ngIf="displayed"></app-success-alert>
      <app-warning-alert *ngIf="!displayed"></app-warning-alert>

      <button class="change-button" (click)="changeAlert()">Change Alert</button>
      <br>
      <label>Number of  Alerts:</label>
      <mat-select  [(ngModel)]="count">
        <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
      </mat-select>

      <ng-container *ngIf="displayed">
      <app-success-alert *ngFor="let _ of getRange(count)"></app-success-alert>
      </ng-container>

      <ng-container *ngIf="!displayed">
        <app-warning-alert *ngFor="let _ of getRange(count)"></app-warning-alert>
        </ng-container>


    </div>
  </div>
</div>


